@import "tailwindcss";

:root {
  --font-title: "Great Vibes", cursive;
  --font-body: "Nunito Variable", sans-serif;
}

@theme {
  --font-sans: var(--font-body);
  --font-title: var(--font-title);

  --color-primary: #2e3c0a;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 30px;
  grid-auto-rows: 1fr;
  gap: 0 9px;
  grid-auto-flow: row;
  place-items: center;
  grid-template-areas:
    "tdias thoras tminutos tsegundos"
    "dias horas minutos segundos";
}

.dias {
  grid-area: dias;
}

.horas {
  grid-area: horas;
}

.minutos {
  grid-area: minutos;
}

.segundos {
  grid-area: segundos;
}

.tdias {
  grid-area: tdias;
}

.thoras {
  grid-area: thoras;
}

.tminutos {
  grid-area: tminutos;
}

.tsegundos {
  grid-area: tsegundos;
}
